@import 'modules/Core/Styles/core.scss';
@import 'modules/Plans/Styles/plan.scss';
@import 'modules/Home/Styles/home.scss';
:root {
  background-color: rgba(248, 249, 255, 1);
}
body{
  margin: 0;
}
p{
  margin: 0;
}